<div class="container">
  <h2 class="display-4 text-center">New Image</h2>
  <hr>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="row" align="center">
      <div class="col-lg-4 col-md-12"></div>
      <div class="col-lg-4 col-md-12">
        <div class="input-group mb-12">
          <div class="input-group-prepend">
            <label class="input-group-text" for="imageNm">Image Name</label>
          </div>
          <input type="text" formControlName="imageName" name="imageName" class="form-control" id="imageName" placeholder="Enter Image Name">
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12"></div>
    <div class="row">
      <div class="col-lg-4 col-md-12"></div>
      <div class="col-lg-4 col-md-12">
        <div class="form-group">
          <img class="img-thumbnail" name="preview" id="preview" src="assets/no-img.jpg" (click)="onUploadBtnClick()">
        </div>
        <div class="form-group">
          <input type="button" (click)="onUploadBtnClick()" class="btn btn-sm btn-primary" id="uploadProductImg" style="float: left" value="Upload" />
        </div>
        <button type="submit" id="upload-btn" class="btn btn-sm btn-success">Upload Image</button>
        <div>
          <input type="file" id="imageFile" name="imageAvatar" (change)="onFileChange($event)">
        </div>
        <br>
      </div>
    </div>
  </form>
</div>